@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Creations by Kittery<br />
    Frederick, CO 80504<br />
    <abbr title="Phone">P:</abbr>
    <a href="tel:17202813751">+1.720.281.3751</a><br/>
    <img src="~/Content/images/static_qr_code_without_logo.jpg"/ style="max-width: 200px;">
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>