@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Creations by Kittery!</h1>
    <p class="lead">A lead sentence...</p>
    <p>More info...</p>
</div>

<div class="row">
    <div class="col-md-12">
        <h2>Button Ideas</h2>
        <ul>
            <li><a href="http://www.mightymeta.co.uk/demos/fading-background-image/#">fading-background-image</a></li>
            <li><a href="http://www.mightymeta.co.uk/demos/css3-animated-vignette-buttons/">animated-vignette-buttons</a></li>
            <li><a href="http://smashinghub.com/css3-animated-button-and-menu-tutorials.htm">More Tutorials...</a></li>
        </ul>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Get more libraries</h2>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <h2>Web Hosting</h2>
    </div>
</div>