@using CreationsByKittery.Features.Home
@model Index.Result

<div class="jumbotron">
    @Html.Partial("Carousel", Model.CarouselList)
</div>

@*<div class="row">
    <div class="col-md-4">
        <h2>1st Column</h2>
        <img src="~/Content/images/businesscard01.png"/>
    </div>
    <div class="col-md-4">
        <h2>2nd Column</h2>
        <img src="~/Content/images/businesscard02.png"/>
    </div>
    <div class="col-md-4">
        <h2>3rd Column</h2>
        <img src="~/Content/images/logo01.png" />
    </div>
</div>*@