@{
    Layout = "~/Features/Shared/_Layout.cshtml";
}
<script async defer src="//assets.pinterest.com/js/pinit.js"></script>

<a data-pin-do="embedBoard" href="https://www.pinterest.com/KitteryBarrows/victorion-clothing/"></a>

<a data-pin-do="embedBoard" data-pin-board-width="800" data-pin-scale-height="480" data-pin-scale-width="160" href="https://www.pinterest.com/keithbarrows/gardening/"></a>

