/*
    color: #422C2F;
    color: #B855F2;
    color: #C25597;   -- base color 
    color: #78B296;
    color: #6F6FEA;
*/

img.centered {
    position: absolute;
    margin: auto;
    left: 0; 
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 1000;
    -ms-opacity: 0.5;
    opacity: 0.5;
}

body {
    padding-top: 50px;
    padding-bottom: 20px;
}

    body.Steampunk {
        background: url("/content/images/steampunk.jpg") no-repeat left;
        background-size: cover;
    }

    body.Victorian {
        background: url("/content/images/victorian.jpg") no-repeat left;
        background-size: cover;
    }

    body.Wedding {
        background: url("/content/images/wedding.jpg") no-repeat left;
        background-size: cover;
    }

    body.Vintage {
        background: url("/content/images/vintage.jpg") no-repeat left;
        background-size: cover;
    }

    body.Modern {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Cosplay {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Medieval {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Corsets {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Regency {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Edwardian {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

    body.Modern {
        background: url("/Content/images/generic-background.jpg") no-repeat left;
        background-size: cover;
    }

html, body, .container {
    height: 100%;
}


/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.navbar {
    background: #C25597;
}

.navbar-inverse .navbar-nav > li > a {
    color: #422C2F;
}

    .navbar-inverse .navbar-nav > li > a:hover, .navbar-inverse .navbar-nav > li > a:focus {
        color: #FFF;
        background-color: transparent;
    }

.navbar-inverse .navbar-brand {
    color: #78B296;
    font-style: oblique;
    font-weight: bolder;
}


.jumbotron {
    margin-top: 5px;
    background: #6F6FEA;
}



/* ------------------- Carousel Styling ------------------- */
/* Makes images fully responsive */

.img-responsive,
.thumbnail > img,
.thumbnail a > img,
.carousel-inner > .item > img,
.carousel-inner > .item > a > img {
  display: block;
  width: 100%;
  height: auto;
    max-width: 800px;
    margin: 20px auto; /* Align slide image horizontally center */ 
}


.carousel-inner {
  border-radius: 15px;
}

.carousel-caption {
  background-color: rgba(0,0,0,.60);
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 10;
  padding: 0 0 10px 25px;
  color: #fff;
  text-align: left;
    max-width: 800px;
    margin: 20px auto; /* Align slide image horizontally center */ 
}

.carousel-indicators {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  z-index: 15;
  margin: 0;
  padding: 0 25px 25px 0;
  text-align: right;
}

.carousel-control.left,
.carousel-control.right {
  background-image: none;
}






/*.carousel {
    background: #FFF;
    margin-top: 20px;
}

    .carousel .item img {
        margin: 20px auto; /* Align slide image horizontally center * / 
        max-height: 300px;
        max-width: 900px;
        bottom: 200px;
    }

.carousel-caption {
    /*background-color: rgba(111, 111, 234, 0.4);* /
    /*color: #422C2F;* /

    position: absolute;
    right: 31%;
    bottom: 4px;
    left: 31%;
    z-index: 10;
    max-width: 900px;
}*/
